

/* COLORS */
$grey: #999999;
$headfoot: #000000;
$accents: #66A1D2;
$headhover: #FFFFFF;
$sidebarback: #333;
$contentback: #DDDDDD;
$sidehover: #FFFFFF;

/*MIXINS*/
@mixin round($edge) {
	-webkit-border-radius: $edge;
	-khtml-border-radius: $edge;	
	-moz-border-radius: $edge;
	border-radius: $edge;
}
@mixin round-top-left($edge) {
	-webkit-border-top-left-radius: $edge;
	-khtml-border-top-left-radius: $edge;	
	-moz-border-top-left-radius: $edge;
	border-top-left-radius: $edge;
}
@mixin round-top-right($edge) {
	-webkit-border-top-right-radius: $edge;
	-khtml-border-top-right-radius: $edge;	
	-moz-border-top-right-radius: $edge;
	border-top-right-radius: $edge;
}
@mixin round-bottom-left($edge) {
	-webkit-border-bottom-left-radius: $edge;
	-khtml-border-bottom-left-radius: $edge;	
	-moz-border-bottom-left-radius: $edge;
	border-bottom-left-radius: $edge;
}
@mixin round-bottom-right($edge) {
	-webkit-border-bottom-right-radius: $edge;
	-khtml-border-bottom-right-radius: $edge;	
	-moz-border-bottom-right-radius: $edge;
	border-bottom-right-radius: $edge;
}

/* tools */
.grey {
	color: $grey;
}
.justify {
	text-align: justify;
}
.pad {
	padding: 70px 0px 20px 0px;
}
.sidepad {
	padding: 30px 50px 20px 50px;
}
.indent {
	text-indent:50px;
}
.border {
	padding:2px;
  border:2px solid black;

}

.round {
 		@include round(10px);
}
/* top-left rounded corner */
.top-left-round {
	@include round-top-left(10px);
}
/* top-right rounded corner */
.top-right-round {
	@include round-top-right(10px);
}
/* top-right rounded corner */
/* bottom-left rounded corner */
.bottom-left-round {
	@include round-bottom-left(10px);
}
/* bottom-right rounded corner */
.bottom-right-round {
	@include round-bottom-right(10px);
}	

.center {
	text-align: center;
}
/* Text */
h1 {
	text-align: center;
  font-family: 'Nova Square', cursive;
  font-size: 77px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.05em;
  line-height: 1;
}
h2 {
	font-family: 'Redressed', serif;
	font-size: 35px;
	line-height: 40px;
}
h3 {
	font-family: 'Redressed', serif;
	font-size: 20px;
	line-height: 25px;
}
 
p {
	font-family: 'Goudy Bookletter 1911', serif;
	letter-spacing: 0.029em;
	font-size: 15px;
	line-height: 20px;
}
li {
	font-family: 'Goudy Bookletter 1911', serif;
	letter-spacing: 0.029em;
	font-size: 15px;
	line-height: 20px;
}
.special {
	font-family: 'Redressed', serif;
	font-size: 15px;
	line-height: 20px;
	
}


#center-stage {
	margin-bottom: 40px;
}

/* PICS */
#containpic {
	width: auto;
	height: auto;
	
}
#heart {
	
	text-align: right;
	z-index: 400;
	
	
}
.listedpic {
	float: left;
	padding: 15px;
	width: 300px;
	height: 300px;
	
}

#signup {
	padding: 100px 20% 50px 20%;
	
}
#signup p {
	font-size: 25px;
	line-height: 40px;
}
#signup_error_explanation {
	float: left;
}
.signup_button {
	padding: 15px;
	background: #ffffff;
	border: 2px solid #000000;
	text-align: center;
	position: relative;
}


 /* <!-- */
  /* General styles */

 	body {
	      margin:0;
	      padding:0;
	      border:0;	
	      width:100%;
	      background: $sidebarback;
				color: #AAA;
				p {
			      margin:.4em 0 .8em 0;
			      padding:0;
			  }  
	  }
	  

 
img {
	padding: 2px;
	border: 1px solid $grey;
}
.zoom {
    -webkit-transition: -webkit-transform .05s linear;
		-o-transition: -webkit-transform .05s linear;
		-moz-transition: -moz-transform .05s linear;
		float: left;
		&:hover {
			-webkit-transform: scale(1.1);
			-o-transform: scale(1.1); 
			-moz-transform: scale(1.1); 
			-moz-transform-origin: center center;
			position: relative;
		
			z-index: 5; 
		}
}




/* Header styles */


.logo {
	border:none;
	padding: 5px 0 5px 10px;
	float: left;
}






   
/* Footer styles */
#footer {
      clear:both;
      float:left;
      width:100%;
			margin-bottom: 0;
			background: $headfoot;
			padding: 5px 0 5px 0;
			bottom: 0;
  			p {
	      	padding:0;
	      	margin:0;
				}
			a {
				text-decoration: none;
			}
}
html, body {
height: 100%;
}
#container {
min-height: 100%;
margin-bottom: -40px;
position: relative;
}
#footer {
height: 30px;
position: relative;
}
.clearfooter {
height: 30px;
clear: both;
}
  
/* pics */

/* Sidebar */




/* Links */

a {
	color: $accents;
  text-decoration: underline;
	&:hover {
	  color: #000000;
		&:visited {
			color: $accents;
		}
	}
}







/* ALERTS */ 
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd; margin-top: 15px;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;} 

/* Comments */
ul.comments {
	list-style: none;
	width: 500px;
	margin: 0 auto;
	padding:0; 
	li{
		border-top: 1px solid $grey;
		padding: 5px;
		}
}

.newcomment {
	margin: 0 auto;
	width: 500px;
	text-align: center;	
}
.delete {
	text-align: right;
	float: right;
	clear: none;
	height: 12px;
}
.time {
	text-align: left;
	clear: none;
	color: $grey;
	height: 12px;
}
/* SUBMITS */
/* users view */
.school {
	font-size: 20px;
	line-height: 25px;
	margin-top: -35px;
}

#favorite_form {
	margin-left: 400px;
	margin-top: -45px;
	width: 30px;
	clear: none;
}
/* SHOW PHOTO */
.mfap {
	float: left;
	clear: none;
}
.photo {
	margin: 0 auto;
}

input[type=text], input[type=password] {
    @include round(4px);
    border:1px solid $grey;
    padding:5px;
		
}
ul.signin {
	color: #FFF;
	padding: 10px 0 10px 0;
	
}
.signup {
	background-color: $sidebarback;
	color: #AAA;
	position: relative;
	
}
                                                                 /* DROP DOWN */


/* JS disabled styles */  
.no-js nav li:hover ul { display:block; }  
  
/* base nav styles */  
nav { display:block; margin:0 auto 20px; border:1px solid #222; position:relative; background-color:#6a6a6a; font:16px Tahoma, Sans-serif; z-index: 1000;}  
nav ul { padding:0; margin:0; }  
nav li { position:relative; float:left; list-style-type:none; }  
nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }  
nav li a { display:block; padding:10px 20px; border-left:1px solid #999; border-right:1px solid #222; color:#eee; text-decoration:none; }  
nav li a:focus { outline:none; text-decoration:underline; }  
nav li:first-child a { border-left:none; }  
nav li.last a { border-right:none; }  
nav a span { display:block; float:rightright; margin-left:5px; }  
nav ul ul { display:none; width:100%; position:absolute; left:0; background:#6a6a6a; text-align: center;}
nav ul ul.wide-nav { width: 200px; }    
nav ul ul li { float:none;  display:inline-block;}  
nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:14px; }  
nav ul ul a:hover { background-color:#555; }  
/* CSS3 */  
.borderradius nav { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }  
.cssgradients nav { background-image:-moz-linear-gradient(0% 22px 90deg, #222, #999); background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#222)); }  
.boxshadow_deformed.rgba nav { -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75); -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75); box-shadow:2px 2px 2px rgba(0,0,0,.75); }  
.cssgradients nav li:hover { background-image:-moz-linear-gradient(0% 100px 90deg, #999, #222); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555)); }  
.borderradius nav ul ul { -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-rightright-radius:4px; border-bottom-left-radius:4px; border-bottom-rightright-radius:4px; }  
.boxshadow.rgba nav ul ul { background-color:rgba(0,0,0,0.8); -moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); box-shadow:2px 2px 2px rgba(0,0,0,.8); }  
.rgba nav ul ul li { border-left:1px solid rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.1); }  
.rgba nav ul ul a:hover { background-color:rgba(85,85,85,.9); }  
.borderradius.rgba nav ul ul li.last { border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1); -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-rightright-radius:4px; border-bottom-left-radius:4px; border-bottom-rightright-radius:4px; }  
.csstransforms ul a span { -moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg); }
